*{
    margin: 0;
    /*padding: 0;*/
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root{
    font-size: 62.5%;
}
body{
    font-size:1.6rem;
}
header{
    padding: 1.9rem;
    background-color: #353535;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 999;
}
header{
    margin-inline: auto;
    justify-content: center;
}
header, .nav-header, .navigation{
    display: flex;
    align-items: center;
    gap: 8.5rem;
    font-weight:normal;
}
nav ul {
    list-style: none;
}
a{
    font-family: 'Inter',sans-serif;
    text-decoration:none;
    color:#FFFFFF ;
    font-size: 1.5rem;
    font-weight: bold;
}
  
.title, h2{
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    font-size:4.0rem;
    color: #B06627;
}
h2{
    font-weight: 250;
    font-size: 2.4rem;
    color:#FF7400;
}
.price{
    font-family: 'Inter', sans-serif;
    font-weight: 780;
    font-size: 4.8rem;
    color:#FF7400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#introduction-title{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    font-size: 2.4rem;
    font-weight: 400;
    color: #B06627;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    color: #B06627;
}
.title-containers{
    font-family: 'Montserrat',sans-serif;
    color: #FF7400;
    font-size: 3.6rem;
    font-weight: bold;
}
.introduction-container{
    padding: 56px 54px;
    margin: auto;
}
span{
    font-weight:bolder;
    font-size: 9.0rem;
    color:#FF7400;
}
.first-container{
    /*height: 80vh;*/
    width: 100%;
    display:grid;
    grid-template-columns: auto auto;
    padding: 9.6rem 3.2rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    grid-column-gap: 40px;
}
.background{
    height: auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/background1.jpg");
}
.second-background{
    height: auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/background2.jpg");
}
.line{
    width: 50%;
    height: 0px;
    border: 2px #FF7400 solid;
    margin:  0;
}
.line-after{
    width: 50%;
    height: 0px;
    border: 2px #FF7400 solid;
    margin:  0;
    float: right;
}
.line-title{
    width: 40%;
    height: 0px;
    border: 1px #FF7400 solid;
    float: right;
}
.line-2{
    width: 100%;
    height: 0px;
    border: 2px #FF7400 solid;
    margin: auto;
}
.second-container{
    display: grid;
    grid-template-columns: 50rem 50rem 50rem;
    padding: 5.6rem;
    margin: auto;
    justify-content: center;
    justify-items: center;
}
.third-container{
    max-width: 1400px;
    margin: auto;
    display: grid;
    row-gap: 50px;
    column-gap: 10px;
    grid-template-columns: 50rem 10rem 14rem auto;
}
.fourth-container{
    display: grid;
    column-gap: 50px;
    grid-template-columns: 50% 50%;
    max-width: 1260px;
    margin: auto;
    padding: 40px;
}
.grid-1{
    background-color:#F6F6F6;
    width: 329px;
    height: auto;
    justify-content: center;
    align-items: center;
    border: 3px #FF7400 solid;
    box-shadow: 5px 10px 18px #888888;
    transition: 1.2s;
}

.grid-2{
    background-color: #F6F6F6;
    width: 410px;
    height: 90px;
    justify-content: center;
    align-items: center;
    border: 3px #FF7400 solid;
    margin-left: 90px;
    margin-top: 64px;
}
.grid-2-1{
    background-color: #F6F6F6;
    width: 410px;
    height: 132px;
    border: 3px #FF7400 solid;
    margin-left: 90px;
    margin-top: 70px;
}
.grid-2-2{
    background-color: #F6F6F6;
    width: 142px;
    height: auto;
    list-style-type: none;
    border-radius: 15px;
    border: 3px #FF7400 solid;
    margin: auto;
}
.style-li{
    font-family: 'Montserrat', sans-serif;
    color:#737373;
    font-size: 2.0rem;
    font-weight:600;
    padding: 20px;
}
.style-li-plans{
    font-family: 'Montserrat', sans-serif;
    color:#737373;
    font-size: 2.0rem;
    font-weight:600;
    padding: 15px;
}
.style-li-1{
    font-family: 'Montserrat', sans-serif;
    color:#737373;
    font-size: 2.0rem;
    font-weight:600;
    padding: 16px;
    list-style-type: none;
    align-items: center;
}

.grid-plans{
    background-color:#F6F6F6;
    width: 329px;
    height: auto;
    justify-content: center;
    align-items: center;
    border: 3px #FF7400 solid;
    box-shadow: 5px 10px 18px #888888;
    transition: 1.2s;
    border-radius: 30px;
}
.plans-bg, .plans-bg-premium{
    box-shadow:
    2px 2px 0.5em rgba(155, 155, 155, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.21)
  ;
  border: 1px solid #cacaca;
  background:
  -moz-linear-gradient(
    #ffffff,
    #e3e3e3
  );
  background:
  -webkit-linear-gradient(
    #ffffff,
    #e3e3e3
  );
  background:
  -o-linear-gradient(
    #ffffff,
    #e3e3e3
  );
  background:
  linear-gradient(
    #ffffff,
    #e3e3e3
  );
    width: 90%;
    margin: auto;
    border-radius: 15px;
}

.plans-info{
    color: #F6F6F6;
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.plans-info-premium{
    background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
    filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
    animation: MoveBackgroundPosition 4s ease-in-out infinite;
    background-size: 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}
@keyframes MoveBackgroundPosition { 
    0% {
        background-position: 0% 50%
    }
    
    50% {
      background-position: 100% 50%
    }
    
    100% {
      background-position: 0% 50%
    }
  }
.box-plans, .box-plans-basic, .box-plans-premium{
    background: rgb(255,0,0);
    background: linear-gradient(248deg, rgba(255,0,0,1) 0%, rgba(253,29,29,1) 50%, rgba(255,116,0,1) 100%);
    border-radius: 15px;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 15px;
    height: 6.0rem;
}
.box-plans-basic{
    background: rgb(255,0,0);
    background: linear-gradient(248deg, rgb(50, 50, 50) 0%, rgb(140, 140, 140) 100%);
}
.box-plans-premium{
    background: rgb(255,201,0);
    background: linear-gradient(160deg, rgb(53, 53, 53) 0%, rgb(4, 2, 0) 50%, rgb(160, 73, 2) 100%);
}

p{
    font-family: 'Montserrat', sans-serif;
    color:#737373;
    font-size: 2.0rem;
    font-weight:500;
    padding: 16px;
}
.img-style{
    margin-bottom:100px;
}
.img-resize{
    height: 400px;
    object-fit: cover;
}
.text-bio{
    background-color: #f6f6f6;
    border: 2px #FF7400 solid;
    width: 480px;
    height: 730px;
    margin-inline: auto;
    margin-bottom: 60px;
}
#item-1{
    grid-column-start: 1;
    grid-column-end: 1;
}
#item-2{
    grid-column-start: 2;
    grid-column-end: 2;
}
#item-3{
    grid-column-start: 3;
    grid-column-end: 3;
}
#item-4{
    grid-row-start: 2;
    grid-row-end:2;
}
#item-5{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}
#item-6{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}
#item-7{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
#item-8{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
#item-9{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
#item-bio{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
#send-form{
    width: 57.7rem;
    height: 59.2rem;

}
.text-info{
    background-color: #F6F6F6;
    width: 38.7rem;
    height: 13.0rem;
    border-radius: 2.5rem;
    border: 2px #FF7400 solid;
    margin-top: 15.6rem;
    margin-left: 6.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-contact{
    font-family: 'Montserrat',sans-serif;
    color: #FF7400;
    font-size: 3.6rem;
    font-weight: bold;
    padding: 3.5rem;
}
fieldset{
    width: 57.7rem;
    height: auto;
    border-radius: 2.5rem;
    background-color: #EDEDED;
    padding: 2.9rem 4.4rem;
    border: 0;
}
.fieldset-wrapper{
    width: 50rem;
}
form{
    margin-bottom: 4.9rem;
}
input{
    font-family:'Montserrat', sans-serif;
    font-size: 1.9rem;
}
legend{
    color:#FF7400;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 3.5rem;
}
#send-name {
    width: 48.8rem;
    height: 5.6rem;
    border-radius: 1.4rem;
}
#send-email {
    width: 48.8rem;
    height: 5.6rem;
    border-radius: 1.4rem;
}
#send-answer {
    width: 48.8rem;
    padding-top: 1.0rem;
    padding-bottom: 20.0rem;
    border-radius: 1.4rem;
    resize: none;
}
.button{
    width: 22.4rem;
    height: 4.4rem;
    border-radius: 19px;
    background-color: #FF7400;
    color: white;
    border: 0px;
    font-family: 'Inter',sans-serif;
    font-size: 2.0rem;
    font-weight: 400;
    cursor: pointer;
}
.plans-btn, .plans-btn-premium, .plans-btn-basic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22.4rem;
    height: 4.4rem;
    border-radius: 15px;
    background-color: #FF7400;
    color: white;
    border: 0px;
    font-family: 'Inter',sans-serif;
    font-size: 2.0rem;
    font-weight: 700;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 1.5s;
}
.plans-btn-basic:hover{
    background: rgb(255,0,0);
    background: linear-gradient(248deg, rgb(50, 50, 50) 0%, rgb(140, 140, 140) 100%);
}
.plans-btn-premium:hover{
    background: linear-gradient(-45deg, #560000, #ff9100, hsl(0, 0%, 3%), #f87203);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


.plans-btn:hover{
    background: linear-gradient(248deg, rgba(255,0,0,1) 0%, rgba(253,29,29,1) 50%, rgba(255,116,0,1) 100%);
}
.cont-button{
    margin-top: 1.0rem;
    display: flex;
    justify-content: space-evenly;
    
}
.button:hover{
    background: linear-gradient(90deg, #FF7400, #c25a00, #904100);
    border: 2px #EDEDED solid;
}
.grid-1:hover{
    transform: scale(1.019);
}
.grid-plans:hover{
    transform: scale(1.05);
}
.img-style{
    animation-name: move;
    animation-duration: 1.5s;
}
@keyframes move{
    0%{
      transform:translateX(calc(25vw));
      opacity: 0;
    }
    100%{
        transform: translateX(calc(0vw));
    }
}
.line-title{
    animation-name: moveline;
    animation-duration: 1.5s;
}
@keyframes moveline{
    0%{
        transform:translateX(calc(-25vh));
    }
    100%{
        transform:translateX(calc(0vw));
    }
}
.background-footer{
    background-color: #353535;
}
footer{
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 1260px;
    margin: auto;
}

.img-logonvt{
    margin-left: 4.0rem;
    grid-column-start: 1;
    grid-column-end: 1;
}
.text-footer{
    padding: 0;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 2.0rem;
    margin-top: 10px;
}
footer-medium{
    grid-column-start: 2;
    grid-column-end: 2;
}
a:hover{
    color: #FF7400;
}
.whats-logo{
    bottom: 200px;
    margin-left: 20px;
    z-index: 999;
    position: fixed;
    transition: 1.2s;
}
.whats-logo:hover{
    transform: scale(1.07);
}
.ftr-paragraf{
    color: #FF7400;
    font-family: 'Inter', sans-serif;
    font-size: 2.0rem;
    font-weight: 400;
}
.title-footer{
    color: #f6f6f6;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
}
.circle-svg{
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 100%;
    background-color: #353535;
}
.circle-svg:hover{
    background-color: #FF7400;
}
.icons-footer{
    width: 100%;
}
.footer-align-svgs{
    display: flex;
    gap: 19px;
}
.menu-mobile{
    background-color: #3535354d;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 7.0rem;
    left: 0;
    width: 100%;
    height: 0vh;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    
}
.menu-mobile .mobile-navigation a{
    color: #F6F6F6;
    text-decoration: none;
    display: flex;
    padding: 20px 30px;
    font-size: 18pt;
    justify-content: center;
    height: 100px;
    align-items: center;
}
.mobile-ul-header{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-mobile nav a:hover{
    background-color: #ff73006d;
}
#btn-menu{
    width: 4.0rem;
    height: 4.0rem;
    border: 3px #FF7400 solid;
    background: transparent;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    visibility: hidden;
    
}
#btn-menu.ativate .line-btn:nth-child(1){
    transform: translateY(8px) rotate(-40deg);
    background-color: red;
}
#btn-menu.ativate .line-btn:nth-child(3){
    transform: translateY(-8px) rotate(40deg);
    background-color: red;
}
#btn-menu.ativate .line-btn:nth-child(2){
    width: 0;
}
#btn-menu.ativate{
    border:3px solid red;
}
.line-btn{
    width: 25px;
    height: 3px;
    background-color: #FF7400;
    display: block;
    margin: 5px auto;
    position: relative;
    transform-origin: center;
    transition: 0.2s;
}
.whats-logo-resize{
    width: 60px;
}



@media screen and (max-width: 1290px){
   
   
    #btn-menu{
        visibility: visible;
    }
    .menu-mobile.open{
        visibility: visible;
        height:calc(100vh - 85px);
    }
    header, .nav-header{
        width: 100%;
        height: 7%;
        align-items: center;
        padding: 10px;
        gap: 0;
        display:flex;
    }
   .line-title{
        display: none;
   }
    .navigation{
        display: none;
    }
    .background{
        width:100%;
    }
    .second-background{
        width:100%;
    }
    .img-style{
        width: fit-content;
        margin-top: 150px;
        margin-bottom: 0;
    }
    .first-container{
        display: flex;
        margin: 0;
        height: auto;
        flex-direction:column-reverse;
        row-gap:0px;
        padding: 10px;
    }
    .second-container{
        display:flex;
        flex-direction: column;
        row-gap: 25px;
        padding: 2rem;
        align-items: center;
       
    }
    .third-container{
        justify-content: center;
        grid-template-columns: auto 10% auto;
        row-gap: 15px;
        padding: 2%;
    }
    #item-bio{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 4;
        width: 100%;
        height: auto;
       
    }
    #send-form{
        width: 100%;
        height: auto;
    
    }
    .grid-1{
        
        height: 50.0rem;
    }
    .grid-2{
        margin: 0;
        width: auto;
        height: auto;
    }
    .grid-2-1{
        margin: 0;
        width: auto;
        height: auto;
    }
    .grid-2-2{
        width: fit-content;
        margin-left: 1px;
        height: auto;
    }
    .fourth-container{
        width: 100%;
        grid-template-columns: auto;
        justify-content: center;
        row-gap: 20px;
        margin: auto;
    }
    .text-info{
        margin: auto;
        width: 100%;
    }
    .title-contact{
        font-size: 3.0rem;
        padding: 4rem;
        align-items: center;
    }
    .first-type{
        padding: 0;
        margin-bottom: 20px;
    }
    .background-footer{
        width: 100%;
    }
    footer{
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        row-gap: 20px;
    }
    .footer-final{
        width: 100%;
    }
    .whats-logo{
        bottom: 100px;
        margin-left: 20px;
       
    }
    .whats-logo-resize{
        width: 20%;
    }
    .title-footer{
        font-size: 45px;
        margin-bottom: 0;
        text-align: center;
    }
    .img-logo-resize{
        width: 300px;
    }
    .img-logonvt{
        margin-left: 0;
    }
    legend{
        font-size: 2.4rem;
    }
    fieldset{
        width: 50%;
        height: auto;
    }
    .fieldset-wrapper{
        width: 29rem;
    }
    #send-name{
        width: 100%;
    }
    #send-email{
        width: 100%;
    }
    #send-answer{
        width: 100%;
    }
    .button{
        width: 260px;
        height: 80px;
        font-size: 30px;
        font-weight: 500;
    }
    form{
        margin-bottom: 120px;
    }
    .text-footer{
        font-size: 3.0rem;
        width: 100%;
    }
    .ftr-paragraf{
        font-size: 2.4rem;
    }
    .icons-footer{
        display: flex;
        width: 100px;
        align-items: center;
    }
    .circle-svg{
        width: 100px;
        height: 100px;
        align-content: center;
    }
    .footer-medium{
        width: 100%;
    }

    .footer-align-svgs{
        align-items: center;
        height: auto;
        justify-content: center;
    }
    }