*{
    margin: 0;
    /*padding: 0;*/
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root{
    font-size: 62.5%;
}
body{
    font-size:1.6rem;
}
header{
    padding: 1.9rem;
    background-color: #353535;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 999;
}
header{
    margin-inline: auto;
    justify-content: center;
}
header, .nav-header, .navigation{
    display: flex;
    align-items: center;
    gap: 8.5rem;
    font-weight:normal;
}
nav ul {
    list-style: none;
}
a{
    font-family: 'Inter',sans-serif;
    text-decoration:none;
    color:#FFFFFF ;
    font-size: 1.5rem;
    font-weight: bold;
}
  
.title, h2{
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    font-size:4.0rem;
    color: #B06627;
}
h2{
    font-weight: 250;
    font-size: 2.4rem;
    color:#FF7400;
}
#introduction-title{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    font-size: 2.4rem;
    font-weight: 400;
    color: #B06627;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    color: #B06627;
}
.title-containers{
    font-family: 'Montserrat',sans-serif;
    color: #FF7400;
    font-size: 3.6rem;
    font-weight: bold;
}
.introduction-container{
    padding: 56px 54px;
    margin: auto;
}
span{
    font-weight:bolder;
    font-size: 9.0rem;
    color:#FF7400;
}
.first-container{
    height: 80vh;
    max-width: 2735px;
    display:grid;
    grid-template-columns: auto auto;
    padding: 9.6rem 3.2rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    grid-column-gap: 40px;
}
.background{
    height: auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/background1.jpg");
}
.second-background{
    height: auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/background2.jpg");
}
.line{
    width: 50%;
    height: 0px;
    border: 2px #FF7400 solid;
    margin:  0;
}
.line-after{
    width: 50%;
    height: 0px;
    border: 2px #FF7400 solid;
    margin:  0;
    float: right;
}
.line-title{
    width: 40%;
    height: 0px;
    border: 1px #FF7400 solid;
    float: right;
}
.line-2{
    width: 100%;
    height: 0px;
    border: 2px #FF7400 solid;
    margin: auto;
}
.second-container{
    display: grid;
    grid-template-columns: 50rem 50rem 50rem;
    padding: 5.6rem;
    margin: auto;
    justify-content: center;
}
.third-container{
    max-width: 1400px;
    margin: auto;
    display: grid;
    row-gap: 50px;
    column-gap: 10px;
    grid-template-columns: 50rem 10rem 14rem auto;
}
.fourth-container{
    display: grid;
    column-gap: 50px;
    grid-template-columns: 50% 50%;
    max-width: 1260px;
    margin: auto;
}
.grid-1{
    background-color:#F6F6F6;
    width: 329px;
    height: auto;
    justify-content: center;
    align-items: center;
    border: 3px #FF7400 solid;
    box-shadow: 5px 10px 18px #888888;
    transition: 1.2s;
}
.grid-2{
    background-color: #F6F6F6;
    width: 410px;
    height: 90px;
    justify-content: center;
    align-items: center;
    border: 3px #FF7400 solid;
    margin-left: 90px;
    margin-top: 64px;
}
.grid-2-1{
    background-color: #F6F6F6;
    width: 410px;
    height: 132px;
    border: 3px #FF7400 solid;
    margin-left: 90px;
    margin-top: 70px;
}
.grid-2-2{
    background-color: #F6F6F6;
    width: 142px;
    height: auto;
    list-style-type: none;
    border-radius: 15px;
    border: 3px #FF7400 solid;
    margin: auto;
}
.style-li{
    font-family: 'Montserrat', sans-serif;
    color:#737373;
    font-size: 2.0rem;
    font-weight:600;
    padding: 20px;
}
.style-li-1{
    font-family: 'Montserrat', sans-serif;
    color:#737373;
    font-size: 2.0rem;
    font-weight:600;
    padding: 16px;
    list-style-type: none;
    align-items: center;
}
p{
    font-family: 'Montserrat', sans-serif;
    color:#737373;
    font-size: 2.0rem;
    font-weight:500;
    padding: 16px;
}
.img-style{
    margin-bottom:100px;
}
.img-resize{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.text-bio{
    background-color: #f6f6f6;
    border: 2px #FF7400 solid;
    width: 480px;
    height: 730px;
    margin-inline: auto;
    margin-bottom: 60px;
}
#item-1{
    grid-column-start: 1;
    grid-column-end: 1;
}
#item-2{
    grid-column-start: 2;
    grid-column-end: 2;
}
#item-3{
    grid-column-start: 3;
    grid-column-end: 3;
}
#item-4{
    grid-row-start: 2;
    grid-row-end:2;
}
#item-5{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}
#item-6{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}
#item-7{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
#item-8{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}
#item-9{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
#item-bio{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}
#send-form{
    width: 577px;
    height: 592px;

}
.text-info{
    background-color: #F6F6F6;
    width: 38.7rem;
    height: 13.0rem;
    border-radius: 2.5rem;
    border: 2px #FF7400 solid;
    margin-top: 15.6rem;
    margin-left: 6.7rem;
}
.title-contact{
    font-family: 'Montserrat',sans-serif;
    color: #FF7400;
    font-size: 3.6rem;
    font-weight: bold;
    padding: 3.5rem;
}
fieldset{
    width: 57.7rem;
    height: auto;
    border-radius: 2.5rem;
    background-color: #EDEDED;
    padding: 2.9rem 4.4rem;
    border: 0;
}
form{
    margin-bottom: 4.9rem;
}
input{
    font-family:'Montserrat', sans-serif;
    font-size: 1.9rem;
}
legend{
    color:#FF7400;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 3.5rem;
}
#send-name {
    width: 488px;
    height: 56px;
    border-radius: 14px;
}
#send-email {
    width: 488px;
    height: 56px;
    border-radius: 14px;
}
#send-answer {
    width: 488px;
    padding-top: 10px;
    padding-bottom: 200px;
    border-radius: 14px;
    resize: none;
}
.button{
    width: 22.4rem;
    height: 4.4rem;
    border-radius: 19px;
    background-color: #FF7400;
    color: white;
    border: 0px;
    font-family: 'Inter',sans-serif;
    font-size: 2.0rem;
    font-weight: 400;
}
.cont-button{
    margin-top: 1.0rem;
    display: flex;
    justify-content: space-evenly;
    
}
.button:hover{
    background: linear-gradient(90deg, #FF7400, #c25a00, #904100);
    border: 2px #EDEDED solid;
}
.grid-1:hover{
    transform: scale(1.05);
}
.img-style{
    animation-name: move;
    animation-duration: 1.5s;
}
@keyframes move{
    0%{
      transform:translateX(calc(25vw));
      opacity: 0;
    }
    100%{
        transform: translateX(calc(0vw));
    }
}
.line-title{
    animation-name: moveline;
    animation-duration: 1.5s;
}
@keyframes moveline{
    0%{
        transform:translateX(calc(-25vh));
    }
    100%{
        transform:translateX(calc(0vw));
    }
}
.background-footer{
    background-color: #353535;
}
footer{
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 1260px;
    margin: auto;
}

.img-logonvt{
    margin-left: 4.0rem;
    grid-column-start: 1;
    grid-column-end: 1;
}
.text-footer{
    padding: 0;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 2.0rem;
    margin-top: 10px;
}
footer-medium{
    grid-column-start: 2;
    grid-column-end: 2;
}
a:hover{
    color: #FF7400;
}
.whats-logo{
    bottom: 200px;
    margin-left: 20px;
    z-index: 999;
    position: fixed;
    transition: 1.2s;
}
.whats-logo:hover{
    transform: scale(1.07);
}
.ftr-paragraf{
    color: #FF7400;
    font-family: 'Inter', sans-serif;
    font-size: 2.0rem;
    font-weight: 400;
}
.title-footer{
    color: #f6f6f6;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
}
.circle-svg{
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 100%;
    background-color: #353535;
}
.circle-svg:hover{
    background-color: #FF7400;
}
.icons-footer{
    width: 100%;
}
.footer-align-svgs{
    display: flex;
    gap: 19px;
}
.menu-mobile{
    background-color: #3535354d;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 7.0rem;
    left: 0;
    width: 100%;
    height: 0vh;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
    
}
.menu-mobile .mobile-navigation a{
    color: #F6F6F6;
    text-decoration: none;
    display: flex;
    padding: 20px 30px;
    font-size: 18pt;
    justify-content: center;
    height: 100px;
    align-items: center;
}
.mobile-ul-header{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-mobile nav a:hover{
    background-color: #ff73006d;
}
#btn-menu{
    width: 4.0rem;
    height: 4.0rem;
    border: 3px #FF7400 solid;
    background: transparent;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    visibility: hidden;
    
}
#btn-menu.ativate .line-btn:nth-child(1){
    transform: translateY(8px) rotate(-40deg);
    background-color: red;
}
#btn-menu.ativate .line-btn:nth-child(3){
    transform: translateY(-8px) rotate(40deg);
    background-color: red;
}
#btn-menu.ativate .line-btn:nth-child(2){
    width: 0;
}
#btn-menu.ativate{
    border:3px solid red;
}
.line-btn{
    width: 25px;
    height: 3px;
    background-color: #FF7400;
    display: block;
    margin: 5px auto;
    position: relative;
    transform-origin: center;
    transition: 0.2s;
}
.whats-logo-resize{
    width: 60px;
}



@media screen and (max-width: 1355px){
    body{
        width: fit-content;
    }
   
    #btn-menu{
        visibility: visible;
    }
    .menu-mobile.open{
        visibility: visible;
        height:calc(100vh - 85px);
    }
    header, .nav-header{
        height: 7%;
        align-items: center;
        padding: 10px;
        gap: 0;
        display:flex;
        justify-content: space-around;
    }
   .line-title{
        display: none;
   }
    .navigation{
        display: none;
    }
    .background{
        width:auto;
    }
    .second-background{
        width:auto;
    }
    .img-style{
        width: fit-content;
        margin-top: 150px;
        margin-bottom: 0;
    }
    .first-container{
        display: flex;
        height: auto;
        flex-direction:column-reverse;
        row-gap:0px;
        padding: 0;
    }
    .second-container{
        grid-template-columns: auto;
        row-gap: 25px;
    }
    .third-container{
        justify-content: center;
        grid-template-columns: auto 10% 30%;
        row-gap: 20px;
    }
    #item-bio{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 4;
       
    }
    .grid-1{
        width: 429px;
        height: 500px;
    }
    .grid-2{
        margin: 0;
        width: 400px;
    }
    .grid-2-1{
        margin: 0;
        width: 400px;
    }
    .grid-2-2{
        width: fit-content;
        margin-left: 1px;
    }
    .fourth-container{
        grid-template-columns: auto;
        justify-content: center;
        row-gap: 20px;
        margin: auto;
    }
    .text-info{
        margin: auto;
    }
    .first-type{
        padding: 0;
        margin-bottom: 20px;
    }
    .background-footer{
        width: auto;
    }
    footer{
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        row-gap: 20px;
    }
    .whats-logo{
        bottom: 100px;
        margin-left: 20px;
       
    }
    .whats-logo-resize{
        width: 100px;
    }
    .title-footer{
        font-size: 45px;
        margin-bottom: 0;
        text-align: center;
    }
    .img-logo-resize{
        width: 300px;
    }
    .img-logonvt{
        margin-left: 0;
    }
    legend{
        font-size: 2.4rem;
    }
    fieldset{
        height: auto;
    }
    .button{
        width: 260px;
        height: 80px;
        font-size: 30px;
        font-weight: 500;
    }
    form{
        margin-bottom: 120px;
    }
    .text-footer{
        font-size: 3.0rem;
    }
    .ftr-paragraf{
        font-size: 2.6rem;
    }
    .icons-footer{
        display: flex;
        width: 100px;
        align-items: center;
    }
    .circle-svg{
        width: 100px;
        height: 100px;
        align-content: center;
    }

    .footer-align-svgs{
        justify-content:center;
        align-items: center;
        width: 100vh;
        height: 135px;
    }
    }